{% extends 'base.html.twig' %}


{% block body %}
<p class="text-6xl text-gray-900 dark:text-white m-5">Gestion des tâches</p>
	{% include "components/_search.html.twig" with {

    form : form

  }
   %}
	<div class="flex flex-wrap justify-center mt-10">

		{% for tache in taches %}
			{% set couleur = "bg-blue-200"%}
			{% if tache.etat.id == 2 %}
				{% set couleur = "bg-green-200"%}
			{% elseif tache.etat.id == 3 %}
				{% set couleur = "bg-red-200"%}
			{% endif %}


			{% include "components/_card.html.twig"  with {
        titre :  tache.titre | raw,
        description : tache.description | raw,
        date : tache.creeLe | date('d/m/Y'),
        etatCouleur : couleur,
        etatLibelle : tache.etat.libelle | raw,
      
        
      }%}


		{% endfor %}

	</div>

	<div class="flex justify-center mt-5 mb-20">
		{{ knp_pagination_render(taches) }}

	</div>
{% endblock %}
