{% extends 'base.html.twig' %}


{% block body %}

	<p class="text-6xl text-gray-900 dark:text-white">Gestion des tâches</p>

	<p class="text-lg text-gray-900 dark:text-white">Création d'une nouvelle tâche</p>
	
	{% include "components/_addTask.html.twig" with {
	form : form
	}
	%}


{% endblock %}
