<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Gestion des tâches
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="font-mono">
		{% include "_navbar.html.twig"%}
		<!-- Affichage des messages FLASH-->
		{% for message in app.flashes('success') %}


		

			<div class="p-4 mb-4 text-sm text-white text-3xl text-center rounded-lg bg-green-400 dark:bg-green-800 dark:text-blue-400" role="alert">
				
			{{ message | raw }}
			</div>


		{% endfor %}
		{% for message in app.flashes('danger') %}

			<div class="p-4 mb-4 text-sm  text-white text-3xl text-center rounded-lg bg-red-400 dark:bg-red-800 dark:text-blue-400" role="alert">
				
			{{ message | raw }}
			</div>

		{% endfor %}
		{% for message in app.flashes('warning') %}

			<div class="p-4 mb-4 text-sm text-white  text-3xl text-center rounded-lg bg-orange-400 dark:bg-orange-800 dark:text-blue-400" role="alert">
				
			{{ message | raw }}
			</div>
		{% endfor %}

		<div class="container mx-auto p-4 "> {% block body %}{% endblock %}
			</div>
			{% include "components/_footer.html.twig"%}
		</body>
	</html>
