
{{ form_start(form) }}

	<div class="mb-6 mt-6">
		<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Veuillez saisir un titre</label>
		{{ form_widget(form.titre, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
         <span class="text-sm text-red-700">{{ form_errors(form.titre) }}</span>  
    </div>
	<div class="mb-6">
		<label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Veuillez saisir une descriprion</label>
        {{ form_widget(form.description, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
         <span class="text-sm text-red-700">{{ form_errors(form.description) }} </span>   
    </div>

	<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enregistrer</button>
{{ form_end(form)}}
