<div class="w-full max-w-sm m-4 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

	<div class="flex flex-col items-center pb-10 ">

		<h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{titre}}</h5>
		<span id="couleur{{tache.id}}" class="{{couleur}} text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
			<span id="text{{tache.id}}">{{ etatLibelle }}</span>
		</span>
		<h6 class="mb-2 text-sm font-bold tracking-tight text-gray-900 dark:text-white">
			{{date}}</h6>
		<span class="text-sm text-gray-500 dark:text-gray-400 text-center ">{{description}}</span>


	</div>
	{% if tache.etat.id == 1 %}
		<div class="rounded-md shadow-sm flex justify-center" role="group">


			<div id="buttons{{tache.id}}" class="inline-flex rounded-md shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" role="group">
				<a href="{{ path("app_tache_edit", { id : tache.id})}}" class="inline-block rounded-l bg-primary px-4 pb-[5px] pt-[6px] text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:ring-0 active:bg-primary-700" data-te-ripple-init data-te-ripple-color="light">
					Modifier
				</a>
				<a href="javascript:;" onclick="finishTask({{tache.id}})" class="inline-block bg-primary px-4 pb-[5px] pt-[6px] text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:ring-0 active:bg-primary-700" data-te-ripple-init data-te-ripple-color="light">
					Terminer
				</a>
				<a href="javascript:;" onclick="cancelTask({{tache.id}})" class="inline-block rounded-r bg-primary px-4 pb-[5px] pt-[6px] text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:ring-0 active:bg-primary-700" data-te-ripple-init data-te-ripple-color="light">
					Annuler
				</a>
			</div>
		</div>
	
	{% endif %}
</div>
{% include "components/_toast.html.twig"%}
