{{ form_start(form)}}
<div class="flex">
	<label for="search-dropdown" class="text-sm font-medium text-gray-900 sr-only dark:text-white">Your Email</label>
	
	</button>
	
		{{ form_widget(form.etat)}}

	<div class="relative w-full">
		
		{{ form_widget(form.mot)}}
        <button type="submit" class="absolute top-0 right-0 p-2.5 text-sm font-medium text-white bg-blue-700 rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
			<svg aria-hidden="true" class="w-5 h-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
			</svg>
			<span class="sr-only">Search</span>
		</button>
	</div>
</div>
{{ form_end(form)}}